
<style>

 #center{
        margin: auto;
        text-align: center;
    }
</style>
<div class="center">
        <h1 style="margin: 20% auto 0px auto;text-align: center; display: block;">Audi Car Agency Project</h1><br />
        <h4 style="text-align: center; display: block;">About This WebSite</h4><br /><br />
        <p style="text-align: center; display: block;">It's a Web Site made for Web programming course as a final project<br />
        using ASP.Net Core MVC and EF Core for dealing with Local SQL database.</p>
</div>

