
<style>

 #center{
        margin: auto;
        text-align: center;
    }
</style>
<div class="center">
        <h3 style="margin: 20% auto 0px auto;text-align: center; display: block;">This Web Site made by three Students in CSE department at AAUP</h3><br />
       <div style="margin: 0px auto 0px auto;">
           <ul>
            <li>
               Name:&nbsp;Khalil Abdallah , ID:&nbsp;201810785 , Email:&nbsp;k.abdlulah@student.aaup.edu <br /><br />
            </li>
            <li>
               Name:&nbsp;Ashraf Abd Alkhaliq , ID:&nbsp;201810544 , Email:&nbsp;a.alkhaliq@student.aaup.edu<br /><br />
            </li>
            <li>
               Name:&nbsp;Mohammed Khanfar , ID:&nbsp;201810844 , Email:&nbsp;m.khanfar2@student.aaup.edu<br /><br />
            </li>
        </ul>
       </div>
          
</div>

