@model Car
<table>
@foreach(Car car in ViewBag.CarsInfo){
        <tr>
            @{

                string src = "~/lib/"+ car.Id.ToString() + ".jpg" ;
                string id = car.Id.ToString();
            } 
        <td><img width="400" height="200" src="@Url.Content("~/lib/"+ car.Id.ToString() + ".jpg")"/> </td>
        <td width="400"><h1>Model: @car.Model</h1></td>
        <td><h1>StockPrice: @car.StockPrice</h1></td>
        <td><a asp-controller="Login"
       asp-action="Sell" 
       asp-route-id="@car.Id">Sell</a></td>
    </tr>
}
</table>


